<div ng-if="vm.hasObject" class="ujet-panel">

    <form name="form" class="ujet-form">

        <ujet-tabs>

            <ujet-tab header-key="uJetSocial_propertiesTab">

                <div class="ujet-panel__section">

                    <div class="ujet-panel__sub-section pure-g">
                        <div class="pure-u-1 pure-u-md-1-5 pure-u-lg-1-6">
                            <ujet-label title="uJetSocial_idProp"
                                        description="uJetSocial_idPropDescription">
                            </ujet-label>
                        </div>
                        <div class="pure-u-1 pure-u-md-4-5 pure-u-lg-5-6">
                            <ujet-value value="{{vm.object.id}}"></ujet-value>
                        </div>
                    </div>

                    <div class="ujet-panel__sub-section pure-g">
                        <div class="pure-u-1 pure-u-md-1-5 pure-u-lg-1-6">
                            <ujet-label title="uJetSocial_createdProp"
                                        description="uJetSocial_createdPropDescription">
                            </ujet-label>
                        </div>
                        <div class="pure-u-1 pure-u-md-4-5 pure-u-lg-5-6">
                            <ujet-value value="{{vm.object.created}}"></ujet-value>
                        </div>
                    </div>

                    <div class="ujet-panel__sub-section pure-g">
                        <div class="pure-u-1 pure-u-md-1-5 pure-u-lg-1-6">
                            <ujet-label title="uJetSocial_updatedProp"
                                        description="uJetSocial_updatedPropDescription">
                            </ujet-label>
                        </div>
                        <div class="pure-u-1 pure-u-md-4-5 pure-u-lg-5-6">
                            <ujet-value value="{{vm.object.updated}}"></ujet-value>
                        </div>
                    </div>

                    <div class="ujet-panel__sub-section pure-g">
                        <div class="pure-u-1 pure-u-md-1-5 pure-u-lg-1-6">
                            <ujet-label title="uJetSocial_statusProp"
                                        description="uJetSocial_statusPropDescription">
                            </ujet-label>
                        </div>
                        <div class="pure-u-1 pure-u-md-4-5 pure-u-lg-5-6">
                            <ujet-status-picker model="vm.object.status"></ujet-status-picker>
                        </div>
                    </div>

                    <div class="ujet-panel__sub-section pure-g">
                        <div class="pure-u-1 pure-u-md-1-5 pure-u-lg-1-6">
                            <ujet-label title="uJetSocial_nameProp"></ujet-label>
                        </div>
                        <div class="pure-u-1 pure-u-md-4-5 pure-u-lg-5-6">
                            <input type="text" required ng-model="vm.object.name" class="input-block-level"/>
                        </div>
                    </div>

                    <div class="ujet-panel__sub-section pure-g">
                        <div class="pure-u-1 pure-u-md-1-5 pure-u-lg-1-6">
                            <ujet-label title="uJetSocial_descriptionProp"></ujet-label>
                        </div>
                        <div class="pure-u-1 pure-u-md-4-5 pure-u-lg-5-6">
                            <input type="text" required ng-model="vm.object.description" class="input-block-level" />
                        </div>
                    </div>

                    <div class="ujet-panel__sub-section pure-g">
                        <div class="pure-u-1 pure-u-md-1-5 pure-u-lg-1-6">
                            <ujet-label title="uJetSocial_ownerIdProp"
                                        description="uJetSocial_ownerIdPropDescription">
                            </ujet-label>
                        </div>
                        <div class="pure-u-1 pure-u-md-4-5 pure-u-lg-5-6">
                            <ujet-object-picker model="vm.object.ownerId"
                                                can-pick-guest="true"
                                                can-pick-member="true">
                            </ujet-object-picker>
                        </div>
                    </div>

                </div>

            </ujet-tab>

            <ujet-tab header-key="uJetSocial_membersTab">

                <div class="ujet-panel__section">

                    <ujet-group-membership model="vm.object.id"></ujet-group-membership>

                </div>

            </ujet-tab>

            <ujet-tab header-key="uJetSocial_attributesTab">
            </ujet-tab>

        </ujet-tabs>

        <div class="ujet-panel__section">

            <div class="ujet-panel__sub-section pure-g">
                <div class="pure-u-1 pure-u-md-1-5 pure-u-lg-1-6">
                </div>
                <div class="pure-u-1 pure-u-md-4-5 pure-u-lg-5-6">
                    <a class="ujet-button" href="#" prevent-default ng-click="vm.save(form)">
                        <localize key="uJetSocial_saveBtn"></localize>
                    </a>
                    <a class="ujet-button" href="#" prevent-default ng-click="vm.cancel()">
                        <localize key="uJetSocial_cancelBtn"></localize>
                    </a>
                </div>
            </div>

        </div>

    </form>

</div>