<div ng-if="vm.hasObject" class="ujet-dialog">

    <h1 class="ujet-dialog__header">
        <localize key="uJetSocial_edit">Edit</localize>
    </h1>

    <umb-pane>

        <form name="form">

            <div class="umb-control-group">
                
                <label class="control-label" for="">
                    <localize key="uJetSocial_memberIdProp">Entity</localize>
                </label>
                <div class="controls-row">
                    <ujet-node-picker model="vm.object.memberId"
                                      can-pick-member="true">
                    </ujet-node-picker>
                </div>

            </div>

            <div class="btn-toolbar umb-btn-toolbar">
                <button class="btn btn-primary" ng-click="vm.save(form)">
                    <localize key="uJetSocial_saveBtn">Save</localize>
                </button>
                <a class="btn btn-link" ng-click="vm.cancel()">
                    <localize key="uJetSocial_cancelBtn">Cancel</localize>
                </a>
            </div>

        </form>

    </umb-pane>

</div>
