<div class="ujet-object-picker">
    
    <ul>
        <li>
            <a href="#" ng-click="vm.showPicker('page')" prevent-default>Page</a>
        </li>
        <li>
            <a href="#" ng-click="vm.showPicker('comment')" prevent-default>Comment</a>
        </li>
        <li>
            <a href="#" ng-click="vm.showPicker('group')" prevent-default>Group</a>
        </li>
        <li>
            <a href="#" ng-click="vm.showPicker('guest')" prevent-default>Guest</a>
        </li>
        <li>
            <a href="#" ng-click="vm.showPicker('user')" prevent-default>User</a>
        </li>
        <li>
            <a href="#" ng-click="vm.showPicker('report')" prevent-default>Report</a>
        </li>
    </ul>

</div>