<div class="ujet-individual-select">
    
    <div class="ujet-individual ujet-individual--selected" ng-hide="_.isNull(selectedObj)">
        <a class="ujet-individual__button" href="#" ng-click="deselectObj()" prevent-default><i class="ujet-individual__icon icon icon-delete"></i></a>
        <h5 class="ujet-individual__name">{{selectedObj.FirstName}} {{selectedObj.LastName}}</h5>
        {{selectedObj.Email}}
    </div>

    <input class="ujet-individual-select__query" ng-show="_.isNull(selectedObj)" type="text" placeholder="Type to search..." ng-model="query" ng-change="search()"/>

    <ul class="ujet-individual-select__list" ng-show="_.size(objects) > 0">
        <li class="ujet-individual-select__list-item" ng-repeat="object in objects">

            <a class="ujet-individual" href="#" ng-click="selectObj(object)" prevent-default>
                <h5 class="ujet-individual__name">{{object.FirstName}} {{object.LastName}}</h5>
                {{object.Email}}
            </a>

        </li>
    </ul>

</div>