<div class="ujet-object-picker">

    <ujet-object ng-if="vm.hasObject" obj="vm.obj" can-delete="true"></ujet-object>

    <div ng-if="!vm.hasObject">

        <div class="ujet-object-picker__header">
            <localize key="uJetSocial_chooseType">Choose...</localize>
        </div>

        <ul class="ujet-object-picker__list">

            <li ng-show="vm.canPickComment">
                <a class="ujet-object-picker__picker" href="#" ng-click="vm.showPicker('comment')" prevent-default>
                    <localize key="uJetSocial_comment">Comment</localize>
                </a>
            </li>

            <li ng-show="vm.canPickDocument">
                <a class="ujet-object-picker__picker" href="#" ng-click="vm.showPicker('document')" prevent-default>
                    <localize key="uJetSocial_document">Document</localize>
                </a>
            </li>

            <li ng-show="vm.canPickGroup">
                <a class="ujet-object-picker__picker" href="#" ng-click="vm.showPicker('group')" prevent-default>
                    <localize key="uJetSocial_group">Group</localize>
                </a>
            </li>

            <li ng-show="vm.canPickGuest">
                <a class="ujet-object-picker__picker" href="#" ng-click="vm.showPicker('guest')" prevent-default>
                    <localize key="uJetSocial_guest">Guest</localize>
                </a>
            </li>

            <li ng-show="vm.canPickMedia">
                <a class="ujet-object-picker__picker" href="#" ng-click="vm.showPicker('media')" prevent-default>
                    <localize key="uJetSocial_media">Media</localize>
                </a>
            </li>

            <li ng-show="vm.canPickMember">
                <a class="ujet-object-picker__picker" href="#" ng-click="vm.showPicker('member')" prevent-default>
                    <localize key="uJetSocial_member">Member</localize>
                </a>
            </li>

            <li ng-show="vm.canPickReport">
                <a class="ujet-object-picker__picker" href="#" ng-click="vm.showPicker('report')" prevent-default>
                    <localize key="uJetSocial_report">Report</localize>
                </a>
            </li>

        </ul>

    </div>

</div>