<div class="umbracoDialog umb-dialog" ng-controller="ujetGroupCreateCtrl">

    <umb-pane>

        <form name="form">
            
            <div class="umb-control-group">

                <label class="control-label" for="">Name</label>
                <div class="controls-row">
                    <input type="text" required ng-model="vm.object.name" class="input-block-level" />
                </div>

                <label class="control-label" for="">Description</label>
                <div class="controls-row">
                    <input type="text" required ng-model="vm.object.description" class="input-block-level" />
                </div>

                <label class="control-label" for="">Owner</label>
                <div class="controls-row">
                    <ujet-object-picker model="vm.object.ownerId"
                                        can-pick-guest="true"
                                        can-pick-user="true">
                    </ujet-object-picker>
                </div>

            </div>

            <div class="btn-toolbar umb-btn-toolbar">
                <a class="btn btn-link" ng-click="vm.cancel()">Cancel</a>
                <input type="submit" value="Create" class="btn btn-primary" ng-click="vm.create(form)" />
            </div>
            
        </form>

    </umb-pane>

</div>