<div class="umbracoDialog umb-dialog" ng-controller="uJetSocial.groupCreateController">

    <umb-pane>

        <form name="form">
            
            <div class="umb-control-group">

                <label class="control-label" for="">Name</label>
                <div class="controls-row">
                    <input type="text" required ng-model="model.Name" class="input-block-level" />
                </div>

                <label class="control-label" for="">Description</label>
                <div class="controls-row">
                    <input type="text" required ng-model="model.Description" class="input-block-level" />
                </div>

                <label class="control-label" for="">Owner</label>
                <div class="controls-row">
                    <input type="number" required ng-model="model.OwnerId" class="input-block-level" />
                </div>

            </div>

            <div class="btn-toolbar umb-btn-toolbar">
                <a class="btn btn-link" ng-click="cancel()">Cancel</a>
                <input type="submit" value="Create" class="btn btn-primary" ng-click="create(form)" />
            </div>
            
        </form>

    </umb-pane>

</div>