<umb-panel ng-controller="uJetSocial.groupEditController">
    <umb-header>
        <div class="umb-headline-editor-wrapper span12">
            <h1>
                <localize key="uJetSocial_groups">Groups</localize>
            </h1>
        </div>
    </umb-header>
    <umb-tab-view>
        <umb-tab id="tabGroups" rel="Groups" style="display: block;">
            <umb-pane>

                <form name="form">

                    <div class="umb-pane">
                        <div class="control-group umb-control-group">

                            <div class="umb-el-wrap">
                                <label class="control-label" for="">Name</label>
                                <div class="controls controls-row">
                                    <input type="text" required ng-model="model.Name" class="bigInput input-large-type input-block-level" />
                                </div>
                            </div>

                            <div class="umb-el-wrap">
                                <label class="control-label" for="">Description</label>
                                <div class="controls controls-row">
                                    <input type="text" required ng-model="model.Description" class="bigInput input-large-type input-block-level" />
                                </div>
                            </div>

                            <div class="umb-el-wrap">
                                <label class="control-label" for="">Owner</label>
                                <div class="controls controls-row">
                                    <input type="number" required ng-model="model.OwnerId" class="bigInput input-large-type input-block-level" />
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="umb-pane btn-toolbar umb-btn-toolbar">
                        <div class="control-group umb-control-group">
                            <input type="submit" value="Save" class="btn btn-primary" ng-click="save(form)" />
                        </div>
                    </div>

                </form>

            </umb-pane>
        </umb-tab>
    </umb-tab-view>
</umb-panel>