<div class="ujet-dialog" ng-controller="uJetSocial.objectEditController">

    <h1>Edit</h1>

    <umb-pane>

        <form name="form">

            <div class="umb-control-group">

                <label class="control-label" for="">Name</label>
                <div class="controls-row">
                    <input type="text" required ng-model="model.Name" class="input-block-level" />
                </div>

                <label class="control-label" for="">Description</label>
                <div class="controls-row">
                    <input type="text" required ng-model="model.Description" class="input-block-level" />
                </div>

                <label class="control-label" for="">Owner</label>
                <div class="controls-row">
                    <ujet-individual-select ng-model="model.OwnerId"></ujet-individual-select>
                </div>

                <label class="control-label" for="">Created</label>
                <div class="controls-row">
                    <ujet-value value="{{model.Created}}"></ujet-value>
                </div>

                <label class="control-label" for="">Updated</label>
                <div class="controls-row">
                    <ujet-value value="{{model.Updated}}"></ujet-value>
                </div>

                <label class="control-label" for="">Status</label>
                <div class="controls-row">
                    <ujet-object-status-select ng-model="model.Status"></ujet-object-status-select>
                </div>

            </div>

            <div class="btn-toolbar umb-btn-toolbar">
                <input type="submit" value="Save" class="btn btn-primary" ng-click="save(form)" />
            </div>

        </form>

    </umb-pane>

</div>