<div class="ujet-dialog" ng-controller="ujetObjectEditController as vm">

    <h1>Edit</h1>

    <umb-pane>

        <form name="form">

            <div class="umb-control-group">

                <label class="control-label" for="">Name</label>
                <div class="controls-row">
                    <input type="text" required ng-model="vm.object.Name" class="input-block-level" />
                </div>

                <label class="control-label" for="">Description</label>
                <div class="controls-row">
                    <input type="text" required ng-model="vm.object.Description" class="input-block-level" />
                </div>

                <label class="control-label" for="">Owner</label>
                <div class="controls-row">
                    <ujet-object-picker model="vm.object.OwnerId"
                                        can-pick-guest="true"
                                        can-pick-user="true">
                    </ujet-object-picker>
                </div>

                <label class="control-label" for="">Created</label>
                <div class="controls-row">
                    <ujet-value value="{{vm.object.Created}}"></ujet-value>
                </div>

                <label class="control-label" for="">Updated</label>
                <div class="controls-row">
                    <ujet-value value="{{vm.object.Updated}}"></ujet-value>
                </div>

                <label class="control-label" for="">Status</label>
                <div class="controls-row">
                    <ujet-object-status-select ng-model="vm.object.Status"></ujet-object-status-select>
                </div>

            </div>

            <div class="btn-toolbar umb-btn-toolbar">
                <input type="submit" value="Save" class="btn btn-primary" ng-click="vm.save(form)" />
            </div>

        </form>

    </umb-pane>

</div>