<umb-panel ng-controller="uJetSocial.groupListController">
    <umb-header>
        <div class="umb-headline-editor-wrapper span12">
            <h1>
                <localize key="uJetSocial_groups">Groups</localize>
            </h1>
        </div>
    </umb-header>
    <umb-tab-view>
        <umb-tab id="tabGroups" rel="Groups" style="display: block;">
            <umb-pane>
                
                <ujet-list ng-model="Result">
                    <ujet-list-paging ng-model="Paging"></ujet-list-paging>
                </ujet-list>

            </umb-pane>
        </umb-tab>
    </umb-tab-view>
</umb-panel>