<div class="ujet-dialog">

    <h1 class="ujet-dialog__header">
        <localize key="uJetSocial_edit">Edit</localize>
    </h1>

    <umb-pane>

        <form name="form">

            <div class="umb-control-group">

                <label class="control-label" for="">
                    <localize key="uJetSocial_nameProp">Name</localize>
                </label>
                <div class="controls-row">
                    <input type="text" required ng-model="vm.object.name" class="input-block-level" />
                </div>

                <label class="control-label" for="">
                    <localize key="uJetSocial_descriptionProp">Description</localize>
                </label>
                <div class="controls-row">
                    <input type="text" required ng-model="vm.object.description" class="input-block-level" />
                </div>

                <label class="control-label" for="">
                    <localize key="uJetSocial_ownerIdProp">Owner</localize>
                </label>
                <div class="controls-row">
                    <ujet-object-picker model="vm.object.ownerId"
                                        can-pick-guest="true"
                                        can-pick-member="true">
                    </ujet-object-picker>
                </div>

                <label class="control-label" for="">
                    <localize key="uJetSocial_createdProp">Created</localize>
                </label>
                <div class="controls-row">
                    <ujet-value value="{{vm.object.created}}"></ujet-value>
                </div>

                <label class="control-label" for="">
                    <localize key="uJetSocial_updatedProp">Updated</localize>
                </label>
                <div class="controls-row">
                    <ujet-value value="{{vm.object.updated}}"></ujet-value>
                </div>

                <label class="control-label" for="">
                    <localize key="uJetSocial_statusProp">Status</localize>
                </label>
                <div class="controls-row">
                    <ujet-status-picker model="vm.object.status"></ujet-status-picker>
                </div>

            </div>

            <div class="btn-toolbar umb-btn-toolbar">
                <button class="btn btn-primary" ng-click="vm.save(form)">
                    <localize key="uJetSocial_saveBtn">Save</localize>
                </button>
                <a class="btn btn-link" ng-click="vm.cancel()">
                    <localize key="uJetSocial_cancelBtn">Cancel</localize>
                </a>
            </div>

        </form>

    </umb-pane>

</div>