<div ng-if="vm.hasObject" class="ujet-panel">

    <div class="ujet-panel__header">
        <localize key="uJetSocial_edit">Edit</localize>
    </div>

    <form name="form" class="ujet-form">

        <div class="ujet-panel__section pure-g">

            <div class="pure-u-1-1 pure-u-md-1-5">
                <div class="ujet-label">
                    <div class="ujet-label__title">
                        <localize key="uJetSocial_createdProp">Created</localize>
                    </div>
                    <div class="ujet-label__description">
                        A short description here.
                    </div>
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-md-4-5">
                <div class="ujet-control">
                    <ujet-value value="{{vm.object.created}}"></ujet-value>
                </div>
            </div>

            <div class="pure-u-1-1 pure-u-md-1-5">
                <div class="ujet-label">
                    <div class="ujet-label__title">
                        <localize key="uJetSocial_updatedProp">Updated</localize>
                    </div>
                    <div class="ujet-label__description">
                        A short description here.
                    </div>
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-md-4-5">
                <div class="ujet-control">
                    <ujet-value value="{{vm.object.updated}}"></ujet-value>
                </div>
            </div>

            <div class="pure-u-1-1 pure-u-md-1-5">
                <div class="ujet-label">
                    <div class="ujet-label__title">
                        <localize key="uJetSocial_statusProp">Status</localize>
                    </div>
                    <div class="ujet-label__description">
                        A short description here.
                    </div>
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-md-4-5">
                <div class="ujet-control">
                    <ujet-status-picker model="vm.object.status"></ujet-status-picker>
                </div>
            </div>

        </div>

        <div class="ujet-panel__section pure-g">

            <div class="pure-u-1-1 pure-u-md-1-5">
                <div class="ujet-label">
                    <div class="ujet-label__title">
                        <localize key="uJetSocial_entityIdProp">Entity</localize>
                    </div>
                    <div class="ujet-label__description">
                        A short description here.
                    </div>
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-md-4-5">
                <div class="ujet-control">
                    <ujet-object-picker model="vm.object.entityId"
                                        can-pick-comment="true"
                                        can-pick-document="true"
                                        can-pick-group="true"
                                        can-pick-guest="true"
                                        can-pick-media="true"
                                        can-pick-member="true"
                                        can-pick-report="true">
                    </ujet-object-picker>
                </div>
            </div>

            <div class="pure-u-1-1 pure-u-md-1-5">
                <div class="ujet-label">
                    <div class="ujet-label__title">
                        <localize key="uJetSocial_authorIdProp">Author</localize>
                    </div>
                    <div class="ujet-label__description">
                        A short description here.
                    </div>
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-md-4-5">
                <div class="ujet-control">
                    <ujet-object-picker model="vm.object.authorId"
                                        can-pick-guest="true"
                                        can-pick-member="true">
                    </ujet-object-picker>
                </div>
            </div>

            <div class="pure-u-1-1 pure-u-md-1-5">
                <div class="ujet-label">
                    <div class="ujet-label__title">
                        <localize key="uJetSocial_textProp">Text</localize>
                    </div>
                    <div class="ujet-label__description">
                        A short description here.
                    </div>
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-md-4-5">
                <div class="ujet-control">
                    <input type="text" required ng-model="vm.object.text" class="input-block-level" />
                </div>
            </div>

        </div>

        <div class="ujet-panel__section pure-g">

            <div class="pure-u-1-1 pure-u-md-1-5"></div>

            <div class="pure-u-1-1 pure-u-md-4-5">
                <div class="ujet-control">
                    <a class="ujet-button" href="#" prevent-default>Save</a>
                    <a class="ujet-button" href="#" prevent-default>Cancel</a>
                </div>
            </div>

        </div>
    </form>

</div>