<div class="ujet-objects-picker">

    <div ng-if="!vm.hasObjects">
        <ujet-object ng-repeat="obj in vm.objs" obj="obj" can-delete="true"></ujet-object>
    </div>
    
    <div ng-if="!vm.hasObjects">

        <div class="ujet-objects-picker__header">
            <localize key="uJetSocial_chooseType">Choose...</localize>
        </div>

        <ul class="ujet-objects-picker__list">

            <li ng-show="vm.canPickPage">
                <a class="ujet-objects-picker__picker" href="#" ng-click="vm.showPicker('document')" prevent-default>
                    <localize key="uJetSocial_document">Document</localize>
                </a>
            </li>

            <li ng-show="vm.canPickComment">
                <a class="ujet-objects-picker__picker" href="#" ng-click="vm.showPicker('comment')" prevent-default>
                    <localize key="uJetSocial_comment">Comment</localize>
                </a>
            </li>

            <li ng-show="vm.canPickGroup">
                <a class="ujet-objects-picker__picker" href="#" ng-click="vm.showPicker('group')" prevent-default>
                    <localize key="uJetSocial_group">Group</localize>
                </a>
            </li>

            <li ng-show="vm.canPickGuest">
                <a class="ujet-objects-picker__picker" href="#" ng-click="vm.showPicker('guest')" prevent-default>
                    <localize key="uJetSocial_guest">Guest</localize>
                </a>
            </li>

            <li ng-show="vm.canPickUser">
                <a class="ujet-objects-picker__picker" href="#" ng-click="vm.showPicker('member')" prevent-default>
                    <localize key="uJetSocial_member">Member</localize>
                </a>
            </li>

            <li ng-show="vm.canPickReport">
                <a class="ujet-objects-picker__picker" href="#" ng-click="vm.showPicker('report')" prevent-default>
                    <localize key="uJetSocial_report">Report</localize>
                </a>
            </li>

        </ul>

    </div>

</div>