<ul>
    <li ng-class="{disabled: pageIndex <= 1}">
        <a href="#" ng-click="goToPreviousPage()" prevent-default>
            <localize key="general_previous">Previous</localize>
        </a>
        {{pageIndex}}
    </li>
    <li ng-repeat="pageIndex in pageIndices" ng-class="{active:$index == pageIndex}">
        <a href="#" ng-click="goToPage($index + 1)" prevent-default>{{$index + 1}}</a>
    </li>
    <li ng-class="{disabled: pageIndex >= pageIndices.length}">
        <a href="#" ng-click="goToNextPage()" prevent-default>
            <localize key="general_next">Next</localize>
        </a>
    </li>
</ul>