<div class="ujet-membership">

    <div class="ujet-membership__section" ng-show="vm.hasObjects">

        <ul class="ujet-membership__list">

            <li class="ujet-membership__list-item" ng-repeat="object in vm.objects">
                <ujet-object model="object | ujetAsIndividualMember" can-delete="true"></ujet-object>
            </li>

        </ul>

        <ujet-pager model="vm.paging"></ujet-pager>

    </div>

    <div class="ujet-membership__section">

        <ujet-object-picker can-pick-member="true" model="vm.memberId"></ujet-object-picker>

    </div>

    <div class="ujet-membership__section" ng-hide="vm.memberId === null">

        <a class="ujet-button" href="#" prevent-default ng-click="vm.add()">
            <localize key="uJetSocial_addBtn"></localize>
        </a>

    </div>

</div>