<div class="ujet-membership">
    
    <ul class="ujet-membership__list" ng-show="vm.hasObjects">

        <li class="ujet-membership__list-item" ng-repeat="object in vm.objects">
            <ujet-object model="object | ujetAsIndividualMember" can-delete="true"></ujet-object>
        </li>

    </ul>

    <ujet-pager model="vm.paging"></ujet-pager>

    <ujet-object-picker can-pick-member="true" model="vm.memberId"></ujet-object-picker>

    <a class="ujet-button" href="#" prevent-default ng-click="vm.add()">
        Add mem
    </a>

</div>