<table class="ujet-list">
    <thead>
        <tr class="ujet-list__header-row">
            <td ng-repeat="column in ngModel.columns">
                <a class="ujet-list__header" href="#" ng-click="sort(column)" prevent-default>
                    {{column}} <i ng-show="column === sortColumn" class="ujet-list__icon icon" ng-class="sortAscending ? 'icon-navigation-up' : 'icon-navigation-down'"></i>
                </a>
            </td>
        </tr>
    </thead>
    <tbody ng-show="_.size(ngModel.rows) === 0">
        <tr class="ujet-list__row">
            <td class="ujet-list__column" colspan="{{_.size(ngModel.columns)}}">
                No objects to list
            </td>
        </tr>
    </tbody>
    <tbody ng-show="_.size(ngModel.rows) > 0">
    <tr class="ujet-list__row" ng-repeat="row in ngModel.rows" ng-click="select(row)">
        <td class="ujet-list__column" ng-repeat="column in ngModel.columns">
            <ujet-value value="{{getPropertyValue(row, column)}}"></ujet-value>
        </td>
    </tr>
    </tbody>
    blaha
</table>