<table class="ujet-list">
    <thead>
        <tr>
            <td ng-repeat="column in ngModel.Columns">
                <a href="#" ng-click="sort(column)" prevent-default>{{column}} <i ng-show="column === sortColumn" class="icon" ng-class="sortAscending ? 'icon-navigation-up' : 'icon-navigation-down'"></i></a>
            </td>
        </tr>
    </thead>
    <tbody ng-show="_.size(ngModel.Rows) === 0">
        <tr>
            <td colspan="{{_.size(ngModel.Columns)}}">
                No objects to list
            </td>
        </tr>
    </tbody>
    <tbody ng-show="_.size(ngModel.Rows) > 0">
        <tr ng-repeat="row in ngModel.Rows" ng-click="select(row)">
            <td ng-repeat="column in ngModel.Columns">
                {{_.property(column)(row)}}
            </td>
        </tr>
    </tbody>
</table>