<table class="ujet-list">

    <thead>
        <tr class="ujet-list__header-row">
            <td ng-repeat="column in vm.columns">
                <a class="ujet-list__header" href="#" ng-click="vm.sort(column)" prevent-default>
                    <localize key="{{vm.getColumnLangKey(column)}}">{{column}}</localize> <i ng-show="column === vm.sortColumn" class="ujet-list__icon icon" ng-class="vm.sortAscending ? 'icon-navigation-up' : 'icon-navigation-down'"></i>
                </a>
            </td>
        </tr>
    </thead>

    <tbody ng-show="_.size(vm.rows) === 0">
        <tr class="ujet-list__row">
            <td class="ujet-list__column" colspan="{{_.size(vm.columns)}}">
                <localize key="uJetSocial_emptyList">The list is empty</localize>
            </td>
        </tr>
    </tbody>

    <tbody ng-show="_.size(vm.rows) > 0">
        <tr class="ujet-list__row" ng-repeat="row in vm.rows" ng-click="vm.select(row)">
            <td class="ujet-list__column" ng-repeat="column in vm.columns">
                <ujet-value value="{{vm.getCellValue(row, column)}}"></ujet-value>
            </td>
        </tr>
    </tbody>

</table>