<div class="umbracoDialog umb-dialog" ng-controller="ujetIndividualMemberCreateCtrl">

    <umb-pane>

        <form name="form">

            <div class="umb-control-group">
                
            </div>

            <div class="btn-toolbar umb-btn-toolbar">
                <a class="btn btn-link" ng-click="vm.cancel()">
                    <localize key="uJetSocial_cancelBtn">Cancel</localize>
                </a>
                <button class="btn btn-primary" ng-click="vm.create(form)">
                    <localize key="uJetSocial_createBtn">Create</localize>
                </button>
            </div>

        </form>

    </umb-pane>

</div>