<div class="ujet-object-picker">

    <ujet-object ng-if="vm.hasObject" model="vm.object" can-delete="true"></ujet-object>

    <div ng-if="!vm.hasObject">

        <div class="ujet-object-picker__header">
            <localize key="uJetSocial_chooseType">Choose...</localize>
        </div>

        <ul class="ujet-object-picker__list">

            <li ng-show="vm.canPickDocument">
                <a class="ujet-object-picker__picker" href="#" ng-click="vm.showPicker('umbracoDocument')" prevent-default>
                    <localize key="uJetSocial_document">Document</localize>
                </a>
            </li>

            <li ng-show="vm.canPickMember">
                <a class="ujet-object-picker__picker" href="#" ng-click="vm.showPicker('umbracoMember')" prevent-default>
                    <localize key="uJetSocial_member">Member</localize>
                </a>
            </li>

            <li ng-show="vm.canPickMedia">
                <a class="ujet-object-picker__picker" href="#" ng-click="vm.showPicker('umbracoMedia')" prevent-default>
                    <localize key="uJetSocial_media">Media</localize>
                </a>
            </li>

        </ul>

    </div>

</div>