/* Object Picker
   ========================================================================== */

.ujet-object-picker__header {
    border: #dbdbdb solid;
    border-width: 1px 1px 0;
    border-radius: 2px 2px 0 0;
    padding: 8px;
    background: #f8f8f8;
    text-align: center;
}

.ujet-object-picker__list {
    border: #dbdbdb solid 1px;
    border-radius: 0 0 2px 2px;
    margin: 0;
    list-style-type: none;
}

.ujet-object-picker__picker {
    display: block;
    padding: 8px;
}

    .ujet-object-picker__picker,
    .ujet-object-picker__picker:link,
    .ujet-object-picker__picker:visited,
    .ujet-object-picker__picker:hover,
    .ujet-object-picker__picker:active {
        text-decoration: none;
    }

        .ujet-object-picker__picker:hover {
            background: #f8f8f8;
        }

/* Comment Picker
   ========================================================================== */

.ujet-comment-picker__query {
    box-sizing: border-box;
    min-height: 30px;
    width: 100%;
}

.ujet-comment-picker__list {
    border: #dbdbdb solid 1px;
    border-radius: 2px;
    margin: 0;
    padding: 8px;
    list-style-type: none;
}

.ujet-comment-picker__list-item {
    margin: 0 0 4px;
}

    .ujet-comment-picker__list-item:last-child {
        margin: 0;
    }

/* Group Picker
   ========================================================================== */

.ujet-group-picker__query {
    box-sizing: border-box;
    min-height: 30px;
    width: 100%;
}

.ujet-group-picker__list {
    border: #dbdbdb solid 1px;
    border-radius: 2px;
    margin: 0;
    padding: 8px;
    list-style-type: none;
}

.ujet-group-picker__list-item {
    margin: 0 0 4px;
}

    .ujet-group-picker__list-item:last-child {
        margin: 0;
    }

/* Guest Picker
   ========================================================================== */

.ujet-guest-picker__query {
    box-sizing: border-box;
    min-height: 30px;
    width: 100%;
}

.ujet-guest-picker__list {
    border: #dbdbdb solid 1px;
    border-radius: 2px;
    margin: 0;
    padding: 8px;
    list-style-type: none;
}

.ujet-guest-picker__list-item {
    margin: 0 0 4px;
}

    .ujet-guest-picker__list-item:last-child {
        margin: 0;
    }

/* Guest Picker
   ========================================================================== */

.ujet-report-picker__query {
    box-sizing: border-box;
    min-height: 30px;
    width: 100%;
}

.ujet-report-picker__list {
    border: #dbdbdb solid 1px;
    border-radius: 2px;
    margin: 0;
    padding: 8px;
    list-style-type: none;
}

.ujet-report-picker__list-item {
    margin: 0 0 4px;
}

    .ujet-report-picker__list-item:last-child {
        margin: 0;
    }

/* Status Picker
   ========================================================================== */

.ujet-status-picker__list {
    margin: 0;
    list-style-type: none;
}

.ujet-status-picker__list-item {
    float: left;
    margin: 0 4px 0 0;
}

    .ujet-status-picker__list-item:last-child {
        margin: 0;
    }

/* Object
   ========================================================================== */

.ujet-object {
    display: flex;
    align-items: center;
    border: #dbdbdb solid 1px;
    border-radius: 2px;
}

.ujet-object__action {
    flex-grow: 1;
    padding: 8px;
}

    .ujet-object__action,
    .ujet-object__action:link,
    .ujet-object__action:visited,
    .ujet-object__action:hover,
    .ujet-object__action:active {
        text-decoration: none;
    }

        .ujet-object__action:hover {
            background: #f8f8f8;
        }

.ujet-object__label {
    display: block;
    color: #b3b3b3;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.ujet-object__sub-label {
    display: block;
}

.ujet-object__button {
    display: flex;
    align-self: stretch;
    align-items: center;
    padding: 8px;
    background: #f8f8f8;
}

    .ujet-object__button,
    .ujet-object__button:link,
    .ujet-object__button:visited,
    .ujet-object__button:hover,
    .ujet-object__button:active {
        color: #ccc;
        text-decoration: none;
    }

        .ujet-object__button:hover {
            color: #000;
        }

















/* List Paging
   ========================================================================== */

.ujet-list-paging {
    padding: 8px;
}

.ujet-list-paging__numbering {
    display: inline-block;
}

    .ujet-list-paging__numbering input {
        vertical-align: baseline;
        width: 50px;
    }

/* Button
   ========================================================================== */

.ujet-button {
    display: inline-block;
    border: #ccc solid 1px;
    border-radius: 2px;
    padding: 4px 12px;
}

    .ujet-button,
    .ujet-button:link,
    .ujet-button:visited,
    .ujet-button:hover,
    .ujet-button:active {
        text-decoration: none;
        background: #f2f2f2;
    }

        .ujet-button:hover {
            background: #e4e4e4;
        }

.ujet-button--disabled,
.ujet-button--disabled:link,
.ujet-button--disabled:visited,
.ujet-button--disabled:hover,
.ujet-button--disabled:active {
    color: #ccc;
    cursor: default;
}

    .ujet-button--disabled:hover {
        background: #f2f2f2;
    }

.ujet-button__icon {
    font-size: 12px;
}

/* List
   ========================================================================== */

.ujet-list {
    width: 100%;
}

.ujet-list__icon {
    font-size: 12px;
}

.ujet-list__header-row {
    border: #dbdbdb solid;
    border-width: 0 0 2px;
}

.ujet-list__header {
    text-transform: uppercase;
    display: block;
    padding: 8px;
}

    .ujet-list__header,
    .ujet-list__header:link,
    .ujet-list__header:visited,
    .ujet-list__header:hover,
    .ujet-list__header:active {
        text-decoration: none;
    }

        .ujet-list__header:hover {
            background: #f8f8f8;
        }

.ujet-list__row {
    border: #dbdbdb solid;
    border-width: 0 0 1px;
}

    .ujet-list__row:nth-child(even) {
        background: #f8f8f8;
    }

.ujet-list__column {
    padding: 8px;
}





/* uJet Dialog */

.ujet-dialog h1 {
    font-size: 16px;
    margin: 10px 20px 0;
    border: #f8f8f8 solid;
    border-width: 0 0 1px;
    padding: 0 0 50px;
}
