/* Status Select
   ========================================================================== */

.ujet-object-status-select__list {
    margin: 0;
    list-style-type: none;
}

.ujet-object-status-select__list-item {
    float: left;
    margin: 0 4px 0 0;
}

    .ujet-object-status-select__list-item:last-child {
        margin: 0;
    }

/* Individual
   ========================================================================== */

.ujet-individual {
    display: block;
    padding: 8px;
    border: #ccc solid 1px;
    border-radius: 2px;
    color: #343434;
}

    .ujet-individual,
    .ujet-individual:link,
    .ujet-individual:visited,
    .ujet-individual:hover,
    .ujet-individual:active {
        text-decoration: none;
    }

        .ujet-individual:hover {
            background: #f8f8f8;
        }

.ujet-individual__name {
    margin: 0;
}

.ujet-individual__button {
    float: right;
}

    .ujet-individual__button,
    .ujet-individual__button:link,
    .ujet-individual__button:visited,
    .ujet-individual__button:hover,
    .ujet-individual__button:active {
        text-decoration: none;
    }

.ujet-individual__icon {
    font-size: 12px;
}

.ujet-individual--selected {
    border: none;
    border-radius: 0;
    background: #2e8aea;
    color: #fff;
}

    .ujet-individual--selected:hover {
        background: #2e8aea;
    }

    .ujet-individual--selected .ujet-individual__button,
    .ujet-individual--selected .ujet-individual__button:link,
    .ujet-individual--selected .ujet-individual__button:visited,
    .ujet-individual--selected .ujet-individual__button:hover,
    .ujet-individual--selected .ujet-individual__button:active {
        color: #fff;
    }

    .ujet-individual--selected .ujet-individual__name {
        color: #fff;
    }

/* Individual Select
   ========================================================================== */

.ujet-individual-select__query {
    box-sizing: border-box;
    min-height: 30px;
    width: 100%;
}

.ujet-individual-select__list {
    border: #ccc solid 1px;
    border-radius: 2px;
    margin: 0;
    padding: 8px;
    list-style-type: none;
}

.ujet-individual-select__list-item {
    margin: 0 0 4px;
}

    .ujet-individual-select__list-item:last-child {
        margin: 0;
    }

/* List Paging
   ========================================================================== */

.ujet-list-paging {
    padding: 8px;
}

.ujet-list-paging__numbering {
    display: inline-block;
}

    .ujet-list-paging__numbering input {
        vertical-align: baseline;
        width: 50px;
    }

/* Button
   ========================================================================== */

.ujet-button {
    display: inline-block;
    border: #ccc solid 1px;
    border-radius: 2px;
    padding: 4px 12px;
}

    .ujet-button,
    .ujet-button:link,
    .ujet-button:visited,
    .ujet-button:hover,
    .ujet-button:active {
        text-decoration: none;
        background: #f2f2f2;
    }

        .ujet-button:hover {
            background: #e4e4e4;
        }

.ujet-button--disabled,
.ujet-button--disabled:link,
.ujet-button--disabled:visited,
.ujet-button--disabled:hover,
.ujet-button--disabled:active {
    color: #ccc;
    cursor: default;
}

    .ujet-button--disabled:hover {
        background: #f2f2f2;
    }

.ujet-button__icon {
    font-size: 12px;
}














/* uJet Dialog */

.ujet-dialog h1 {
    font-size: 16px;
    margin: 10px 20px 0;
    border: #f8f8f8 solid;
    border-width: 0 0 1px;
    padding: 0 0 50px;
}

/* uJet List */

table.ujet-list {
    width: 100%;
}

    table.ujet-list tr {
        border: #dbdbdb solid;
        border-width: 0 0 1px;
    }

    table.ujet-list td {
        padding: 8px;
    }

    table.ujet-list thead {
        border: #dbdbdb solid;
        border-width: 0 0 2px;
    }

        table.ujet-list thead td {
            padding: 0;
        }

        table.ujet-list thead i {
            font-size: 12px;
        }

        table.ujet-list thead a {
            text-decoration: none;
            text-transform: uppercase;
            display: block;
            padding: 8px;
        }

            table.ujet-list thead a:hover {
                background: #f8f8f8;
            }

    table.ujet-list tbody tr {
        cursor: pointer;
    }

        table.ujet-list tbody tr:nth-child(even) {
            background: #f8f8f8;
        }
