<div class="umbracoDialog umb-dialog" ng-controller="uJetSocial.guestCreateController">

    <div class="umb-pane">
        <div class="control-group umb-control-group">

            <div class="umb-el-wrap">
                <label class="control-label" for="">First name</label>
                <div class="controls controls-row">
                    <input type="text" data-ng-model="ngModel.firstName" class="bigInput input-large-type input-block-level"/>
                </div>
            </div>

            <div class="umb-el-wrap">
                <label class="control-label" for="">Last name</label>
                <div class="controls controls-row">
                    <input type="text" data-ng-model="ngModel.lastName" class="bigInput input-large-type input-block-level"/>
                </div>
            </div>

            <div class="umb-el-wrap">
                <label class="control-label" for="">E-mail</label>
                <div class="controls controls-row">
                    <input type="text" data-ng-model="ngModel.email" class="bigInput input-large-type input-block-level"/>
                </div>
            </div>

        </div>
    </div>

    <div class="umb-pane btn-toolbar umb-btn-toolbar">
        <div class="control-group umb-control-group">
            <a href="#" class="btn btn-link">Cancel</a>
            <input type="submit" value="Create" class="btn btn-primary">
        </div>
    </div>

</div>