<div class="umbracoDialog umb-dialog" ng-controller="ujetGuestCreateController as vm">

    <umb-pane>

        <form name="form">

            <div class="umb-control-group">

                <label class="control-label" for="">First name</label>
                <div class="controls-row">
                    <input type="text" required ng-model="vm.guest.FirstName" class="input-block-level" />
                </div>

                <label class="control-label" for="">Last name</label>
                <div class="controls-row">
                    <input type="text" required ng-model="vm.guest.LastName" class="input-block-level" />
                </div>

                <label class="control-label" for="">E-mail</label>
                <div class="controls-row">
                    <input type="email" required ng-model="vm.guest.Email" class="input-block-level" />
                </div>

            </div>

            <div class="btn-toolbar umb-btn-toolbar">
                <a class="btn btn-link" ng-click="vm.cancel()">Cancel</a>
                <input type="submit" value="Create" class="btn btn-primary" ng-click="vm.create(form)" />
            </div>

        </form>

    </umb-pane>

</div>