<div class="umbracoDialog umb-dialog" ng-controller="ujetGuestCreateCtrl">

    <umb-pane>

        <form name="form">

            <div class="umb-control-group">

                <label class="control-label" for="">
                    <localize key="uJetSocial_firstNameProp">First name</localize>
                </label>
                <div class="controls-row">
                    <input type="text" required ng-model="vm.object.firstName" class="input-block-level" />
                </div>

                <label class="control-label" for="">
                    <localize key="uJetSocial_lastNameProp">Last name</localize>
                </label>
                <div class="controls-row">
                    <input type="text" required ng-model="vm.object.lastName" class="input-block-level" />
                </div>

                <label class="control-label" for="">
                    <localize key="uJetSocial_emailProp">E-mail</localize>
                </label>
                <div class="controls-row">
                    <input type="email" required ng-model="vm.object.email" class="input-block-level" />
                </div>

            </div>

            <div class="btn-toolbar umb-btn-toolbar">
                <a class="btn btn-link" ng-click="vm.cancel()">
                    <localize key="uJetSocial_cancelBtn">Cancel</localize>
                </a>
                <button class="btn btn-primary" ng-click="vm.create(form)">
                    <localize key="uJetSocial_createBtn">Create</localize>
                </button>
            </div>

        </form>

    </umb-pane>

</div>