<div class="ujet-dialog" ng-controller="ujetObjectEditCtrl as vm">

    <h1>Edit</h1>

    <umb-pane>

        <form name="form">

            <div class="umb-control-group">

                <label class="control-label" for="">First name</label>
                <div class="controls-row">
                    <input type="text" required ng-model="vm.object.firstName" class="input-block-level" />
                </div>

                <label class="control-label" for="">Last name</label>
                <div class="controls-row">
                    <input type="text" required ng-model="vm.object.lastName" class="input-block-level" />
                </div>

                <label class="control-label" for="">E-mail</label>
                <div class="controls-row">
                    <input type="email" required ng-model="vm.object.email" class="input-block-level"/>
                </div>

                <label class="control-label" for="">Created</label>
                <div class="controls-row">
                    <ujet-value value="{{vm.object.created}}"></ujet-value>
                </div>

                <label class="control-label" for="">Updated</label>
                <div class="controls-row">
                    <ujet-value value="{{vm.object.updated}}"></ujet-value>
                </div>

                <label class="control-label" for="">Status</label>
                <div class="controls-row">
                    <ujet-status-picker model="vm.object.status"></ujet-status-picker>
                </div>

            </div>

            <div class="btn-toolbar umb-btn-toolbar">
                <input type="submit" value="Save" class="btn btn-primary" ng-click="vm.save(form)" />
            </div>

        </form>

    </umb-pane>

</div>
