<umb-panel ng-controller="uJetSocial.guestEditController">
    <umb-header>
        <div class="umb-headline-editor-wrapper span12">
            <h1>
                <localize key="uJetSocial_guests">Guests</localize>
            </h1>
        </div>
    </umb-header>
    <umb-tab-view>
        <umb-tab id="tabGuests" rel="Guests" style="display: block;">
            <umb-pane>

                <form name="form">
                    
                    <div class="umb-pane">
                        <div class="control-group umb-control-group">

                            <div class="umb-el-wrap">
                                <label class="control-label" for="">First name</label>
                                <div class="controls controls-row">
                                    <input type="text" required ng-model="model.FirstName" class="bigInput input-large-type input-block-level" />
                                </div>
                            </div>

                            <div class="umb-el-wrap">
                                <label class="control-label" for="">Last name</label>
                                <div class="controls controls-row">
                                    <input type="text" required ng-model="model.LastName" class="bigInput input-large-type input-block-level" />
                                </div>
                            </div>

                            <div class="umb-el-wrap">
                                <label class="control-label" for="">E-mail</label>
                                <div class="controls controls-row">
                                    <input type="email" required ng-model="model.Email" class="bigInput input-large-type input-block-level" />
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="umb-pane btn-toolbar umb-btn-toolbar">
                        <div class="control-group umb-control-group">
                            <input type="submit" value="Save" class="btn btn-primary" ng-click="save(form)" />
                        </div>
                    </div>

                </form>

            </umb-pane>
        </umb-tab>
    </umb-tab-view>
</umb-panel>