<div class="ujet-pager" ng-show="vm.hasPages">

    <div class="ujet-pager__button" ng-hide="vm.pageIndex === 1">
        <a class="ujet-button" href="#" ng-click="vm.goToFirstPage()" prevent-default>
            <i class="ujet-button__icon icon icon-navigation-first"></i>
        </a>
    </div>

    <div class="ujet-pager__button" ng-hide="vm.pageIndex === 1">
        <a class="ujet-button" href="#" ng-click="vm.goToPreviousPage()" prevent-default>
            <i class="ujet-button__icon icon icon-navigation-left"></i>
        </a>
    </div>

    <div class="ujet-pager__numbering">
        <input type="number" min="1" max="{{vm.pageCount}}" ng-model="vm.pageIndex" ng-change="vm.goToPage(vm.pageIndex)" /> / {{vm.pageCount}}
    </div>

    <div class="ujet-pager__button" ng-show="vm.pageIndex < vm.pageCount">
        <a class="ujet-button" href="#" ng-click="vm.goToNextPage()" prevent-default>
            <i class="ujet-button__icon icon icon-navigation-right"></i>
        </a>
    </div>

    <div class="ujet-pager__button" ng-hide="vm.pageIndex === vm.pageCount">
        <a class="ujet-button" href="#" ng-click="vm.goToLastPage()" prevent-default>
            <i class="ujet-button__icon icon icon-navigation-last"></i>
        </a>
    </div>

</div>