<?xml version="1.0" encoding="utf-8"?>
<trees>
  <add initialize="true" sortOrder="0" alias="comment" application="uJetSocial" title="Comments" iconClosed="icon-folder" iconOpen="icon-folder-open" type="Logikfabrik.Umbraco.Jet.Social.Web.UI.Trees.CommentsTreeController, Logikfabrik.Umbraco.Jet.Social" />
  <add initialize="true" sortOrder="1" alias="group" application="uJetSocial" title="Groups" iconClosed="icon-folder" iconOpen="icon-folder-open" type="Logikfabrik.Umbraco.Jet.Social.Web.UI.Trees.GroupsTreeController, Logikfabrik.Umbraco.Jet.Social" />
  <add initialize="true" sortOrder="2" alias="report" application="uJetSocial" title="Reports" iconClosed="icon-folder" iconOpen="icon-folder-open" type="Logikfabrik.Umbraco.Jet.Social.Web.UI.Trees.ReportsTreeController, Logikfabrik.Umbraco.Jet.Social" />
</trees>