<div class="umbracoDialog umb-dialog" ng-controller="ujetCommentCreateCtrl as vm">

    <umb-pane>

        <form name="form">
            
            <div class="umb-control-group">

                <label class="control-label" for="">Entity</label>
                <div class="controls-row">
                    <ujet-object-picker model="vm.comment.entityId"
                                        can-pick-page="true"
                                        can-pick-comment="true"
                                        can-pick-group="true"
                                        can-pick-guest="true"
                                        can-pick-user="true"
                                        can-pick-report="true">
                    </ujet-object-picker>
                </div>

                <label class="control-label" for="">Author</label>
                <div class="controls-row">
                    <ujet-object-picker model="vm.comment.authorId"
                                        can-pick-guest="true"
                                        can-pick-user="true">
                    </ujet-object-picker>
                </div>

                <label class="control-label" for="">Text</label>
                <div class="controls-row">
                    <input type="text" required ng-model="vm.comment.text" class="input-block-level" />
                </div>

            </div>

            <div class="btn-toolbar umb-btn-toolbar">
                <a class="btn btn-link" ng-click="vm.cancel()">Cancel</a>
                <input type="submit" value="Create" class="btn btn-primary" ng-click="vm.create(form)" />
            </div>
            
        </form>

    </umb-pane>

</div>