<div class="ujet-dialog" ng-controller="ujetObjectEditCtrl as vm">

    <h1>Edit</h1>

    <umb-pane>

        <form name="form">

            <div class="umb-control-group">

                <label class="control-label" for="">Entity</label>
                <div class="controls-row">
                    <ujet-object-picker model="vm.object.entityId"
                                        can-pick-page="true"
                                        can-pick-comment="true"
                                        can-pick-group="true"
                                        can-pick-guest="true"
                                        can-pick-user="true"
                                        can-pick-report="true">
                    </ujet-object-picker>
                </div>

                <label class="control-label" for="">Author</label>
                <div class="controls-row">
                    <ujet-object-picker model="vm.object.authorId"
                                        can-pick-guest="true"
                                        can-pick-user="true">
                    </ujet-object-picker>
                </div>

                <label class="control-label" for="">Text</label>
                <div class="controls-row">
                    <input type="text" required ng-model="vm.object.text" class="input-block-level"/>
                </div>

                <label class="control-label" for="">Created</label>
                <div class="controls-row">
                    <ujet-value value="{{vm.object.created}}"></ujet-value>
                </div>

                <label class="control-label" for="">Updated</label>
                <div class="controls-row">
                    <ujet-value value="{{vm.object.updated}}"></ujet-value>
                </div>

                <label class="control-label" for="">Status</label>
                <div class="controls-row">
                    <ujet-status-picker model="vm.object.status"></ujet-status-picker>
                </div>

            </div>

            <div class="btn-toolbar umb-btn-toolbar">
                <input type="submit" value="Save" class="btn btn-primary" ng-click="vm.save(form)"/>
                <a class="btn btn-link" ng-click="vm.cancel()">Cancel</a>
            </div>

        </form>

    </umb-pane>

</div>