<div class="ujet-status-picker">

    <div class="ujet-status-picker__button">
        <a href="#" ng-click="model = 0" class="ujet-button" ng-class="{'ujet-button--disabled': model === 0}" prevent-default>
            <i class="ujet-button__icon icon icon-time"></i> <localize key="uJetSocial_pendingStatus"></localize>
        </a>
    </div>

    <div class="ujet-status-picker__button">
        <a href="#" ng-click="model = 1" class="ujet-button" ng-class="{'ujet-button--disabled': model === 1}" prevent-default>
            <i class="ujet-button__icon icon icon-check"></i> <localize key="uJetSocial_approvedStatus"></localize>
        </a>
    </div>

    <div class="ujet-status-picker__button">
        <a href="#" ng-click="model = 2" class="ujet-button" ng-class="{'ujet-button--disabled': model === 2}" prevent-default>
            <i class="ujet-button__icon icon icon-block"></i> <localize key="uJetSocial_rejectedStatus"></localize>
        </a>
    </div>

</div>